# Gradle
.gradle/
build/
out/

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
runs/

# Maven
target/
.m2/

# Other
*.log
*.iml
*.iws
*.ipr
